body {
    background-color: #d3d3d3;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

table, th, td {
   border: 1px solid black;
}

td {
   width: 20px;
}

td:nth-child(1), tr:nth-child(1) {  
  background-color: #b20000;
  color: #d3d3d3;
}
