body {
    background-color: grey;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

table, th, td {
   border: 1px solid black;
}

td {
   width: 20px;
}

td:nth-child(1) {  
  background-color: red;
}

tr:nth-child(1) {  
  background-color: red;
}