<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Style/PageStyle.css" rel="stylesheet" />
</head>
<body>
    <div id="ControllsArea">
        <input type="number" name="number" id="NumberBox"> <button type="button" id="GenerateButton">Generate </button>
    </div>
    <div id="TableArea">

    </div>
</body>
</html>
